<table id="table">
  <tr>
    <td colspan="5" style="font-size: 32px; font-weight: bold;">Cescount</td>
  </tr>
  <tr class="table-header">
    <td rowspan="2">Date</td>
    <td colspan="4">
      <p style="text-align: center; font-weight: bold; font-size: 20px;">hanguyenthu</p>
    </td>
  </tr>
  <tr class="table-header">
    <td>Completed Tasks</td>
    <td>Burned Points</td>
    <td>Time (hours)</td>
    <td>Status</td>
  </tr>  
  <tr>
      <td rowspan="3">6/19/2020</td>
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>
  <tr>                
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>
  <tr>                
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>         
  <tr class="table-header">
      <td>Total</td>
      <td></td>
      <td>5</td>
      <td>8</td>
      <td></td>
  </tr>
  <tr>
      <td rowspan="3">6/19/2020</td>
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>
  <tr>                
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>
  <tr>                
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>         
  <tr class="table-header">
      <td>Total</td>
      <td></td>
      <td>5</td>
      <td>8</td>
      <td></td>
  </tr>
  <tr>
      <td rowspan="3">6/19/2020</td>
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>
  <tr>                
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>
  <tr>                
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>         
  <tr class="table-header">
      <td>Total</td>
      <td></td>
      <td>5</td>
      <td>8</td>
      <td></td>
  </tr>
  <tr>
      <td rowspan="3">6/19/2020</td>
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>
  <tr>                
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>
  <tr>                
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>         
  <tr class="table-header">
      <td>Total</td>
      <td></td>
      <td>5</td>
      <td>8</td>
      <td></td>
  </tr>
  <tr>
      <td rowspan="3">6/19/2020</td>
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>
  <tr>                
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>
  <tr>                
      <td>add field and delete field form certificate</td>
      <td>1</td>
      <td>2</td>
      <td>In Review</td>
  </tr>         
  <tr>
      <td>Total</td>
      <td></td>
      <td>5</td>
      <td>8</td>
      <td></td>
  </tr>
  <button (click)="export()">Export Excel File</button>
</table>