table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}

.table-header {
    background-color: #efefef;
    font-weight: bold;
}

button {
    margin-top: 20px;
}